<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="<?php echo URL_BASE; ?>">
                        Home
                    </a>
                </li>
                <li>
                    <a href="<?php echo URL_BASE; ?>lemenu/#sobre-section">
                        Sobre
                    </a>
                </li>
                <li>
                     <a href="<?php echo URL_BASE; ?>lemenu/#portifolio-section">
                        Portfolio
                    </a>
                </li>
                <li>
                     <a href="<?php echo URL_BASE; ?>lemenu/#pricing-section">
                       Preço
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            © <?php echo date("Y") ?>  Lemenu.com.br | All Rights Reserved
        </p>
    </div>
</footer>