<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Olá <?php echo $_SESSION['login']; ?></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="pe-7s-bell"></i>
                            <b class="caret"></b>
                            <span class="notification">5</span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                      </ul>
                </li>
                <li>
                    <form class="navbar-form navbar-left navbar-search-form" role="search">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input type="text" value="" class="form-control" placeholder="Search...">
                        </div>
                    </form>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                 <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Serviços
                            <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="<?php echo URL_BASE; ?>servicos-cardapio">Cadastro de cardápios</a></li>
                        <li><a href="#">Cadastrar endereço no Google Maps</a></li>
                        <li><a href="#">Criação de Logo</a></li>
                        <li><a href="#">Treinamento Lemenu</a></li>
                      </ul>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Guia em vídeos
                            <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Cadastro de cardápios</a></li>
                        <li><a href="#">Como usar o quadro de avisos</a></li>
                        <li><a href="#">Editando dados</a></li>
                        <li><a href="#">Como funciona as notificações</a></li>
                        <li><a href="#">Imprimindo seu cardápio</a></li>
                      </ul>
                </li>
                <li>
                    <a href="<?php echo URL_BASE; ?>sair">
                        Sair
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>