<div class="sidebar" data-color="red" data-image="">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text" href="<?php echo URL_BASE; ?>#slide-head">
                <img class="title-dashboard" src="<?php echo URL_BASE; ?>app/assets/img/logo.fw.png">
            </a>
        </div>

        <ul class="nav">
            <li <?php echo ($_GET['url'] == 'usuario')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>usuario">
                    <i class="pe-7s-user"></i>
                    <p>Seus dados</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'estabelecimento')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>estabelecimento">
                    <i class="pe-7s-display2"></i>
                    <p>Seu estabelecimento</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'quadro-de-avisos')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>quadro-de-avisos">
                    <i class="pe-7s-speaker"></i>
                    <p>Quadro de Avisos</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'cardapio')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>cardapio">
                    <i class="pe-7s-note2"></i>
                    <p>Cardápio</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'imprimir-cardapio')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>imprimir-cardapio">
                    <i class="pe-7s-print"></i>
                    <p>Imprimir Cardápio</p>
                </a>
            </li>          
            <li <?php echo ($_GET['url'] == 'layout-cardapio')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>layout-cardapio">
                    <i class="pe-7s-paint"></i>
                    <p>Layout do Cardápio</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'localizacao')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>localizacao">
                    <i class="pe-7s-map-marker"></i>
                    <p>Localização</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'alterar-senha')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>alterar-senha">
                    <i class="pe-7s-key"></i>
                    <p>Alterar Senha</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'notificacoes')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>notificacoes">
                    <i class="pe-7s-bell"></i>
                    <p>Notificações</p>
                </a>
            </li>
            <li <?php echo ($_GET['url'] == 'clientes')?'class="active"':''; ?>>
                <a href="<?php echo URL_BASE; ?>clientes">
                    <i class="pe-7s-add-user"></i>
                    <p>Clientes</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="<?php echo URL_BASE; ?>upgrade-pro">
                    <i class="pe-7s-rocket"></i>
                    <p>Upgrade to PRO</p>
                </a>
            </li>
        </ul>
    </div>
</div>