<!DOCTYPE html>
<!-- saved from url=(0036)https://s.bootsnipp.com/iframe/xpyz9 -->
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex">
        <title>Template 2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template-2.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template.css" rel="stylesheet">
        <link rel="stylesheet prefetch" href="<?php echo URL_BASE; ?>app/assets/css/font-awesome.min.css">

    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <div class="card hovercard">
                        <div class="cardheader">
                        </div>
                        <div class="avatar">
                            <img alt="" src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/profile.png">
                        </div>
                        <div class="info">
                            <div class="title">
                                Maickon Rangel
                            </div>
                        </div>
                        <nav class="navbar navbar-default">
                             <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="mainNav">
                                <ul class="nav main-menu navbar-nav">
                                    <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                                <ul class="nav  navbar-nav navbar-right">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <a href="#" class="list-group-item active-item">Lanches</a>
                            <a class="list-group-item">Hamburguer - R$ 6,00 <small>(Pão, carne, salada, tomate)</small></a>
                            <a class="list-group-item">Cachorro quente - R$ 6,00 <small>(Pão, carne, molho, salsisha, milho, uva passa, batata palha)</small></a>
                            <a class="list-group-item">Misto quente - R$ 4,00<small>(Pão, presunto, mussarela)</small></a>
                            <a class="list-group-item">Burguesão com Ovo - R$ 7,00<small>(Pão, ovo, salada, alface, carne de amburguer)</small></a>
                        </div>  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <a href="#" class="list-group-item active-item">Refrigerantes</a>
                            <a class="list-group-item">Coca-Cola 2L - R$ 8,00 <small></small></a>
                            <a class="list-group-item">Guaraná Amtártica 2L - R$ 6,00 <small></small></a>
                            <a class="list-group-item">Coca-Cola 300Ml - R$ 4,00<small></small></a>
                            <a class="list-group-item">Guaraná Amtártica 300Ml - R$ 3,60<small></small></a>
                            <a class="list-group-item">Guaraná Convenção 2L - R$ 4,00<small></small></a>
                        </div>  
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <a href="#" class="list-group-item active-item">Bebidas Alcólicas</a>
                            <a class="list-group-item">Cerveja Skoll Latão 550Ml- R$ 5,00 <small></small></a>
                            <a class="list-group-item">Cerveja skoll Litrão - R$ 9,00 <small></small></a>
                            <a class="list-group-item">Cerveja Antártica 600Ml - R$ 8,00<small></small></a>
                            <a class="list-group-item">Dose Vodka - R$ 5,00<small></small></a>
                            <a class="list-group-item">Dose Tequila - R$ 10,00<small></small></a>
                            <a class="list-group-item">Cerveja Itaipava 600Ml - R$ 6,00<small></small></a>
                            <a class="list-group-item">Dose Cortezano - R$ 4,00<small></small></a>
                        </div>  
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="list-group">
                            <a href="#" class="list-group-item active-item">Aperitivos</a>
                            <a class="list-group-item">Carne seca- R$ 5,00 <small></small></a>
                            <a class="list-group-item">Carne de hamburguer com presunto - R$ 6,00 <small></small></a>
                            <a class="list-group-item">Batata Frita - R$ 15,00<small></small></a>
                            <a class="list-group-item">Ainpin - R$ 10,00<small></small></a>
                            <a class="list-group-item">Mocotó - R$ 10,00<small></small></a>
                            <a class="list-group-item">Linguíça - R$ 7,00<small></small></a>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        
        <div class="logo-fixed">
            Crie um cardápio no 
            <a href="#" class="fa-lemenu">Lemenu</a>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://127.0.0.1/lemenu/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1/lemenu/lemenu/#sobre-section">
                                Sobre
                            </a>
                        </li>
                        <li>
                             <a href="http://127.0.0.1/lemenu/lemenu/#portifolio-section">
                                Portfolio
                            </a>
                        </li>
                        <li>
                             <a href="http://127.0.0.1/lemenu/lemenu/#pricing-section">
                               Preço
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    © 2017  Lemenu.com.br | All Rights Reserved
                </p>
            </div>
        </footer>
        <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.js"></script>
        <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap.min.js"></script>
    </body>
</html>