<!DOCTYPE html>
<!-- saved from url=(0036)https://s.bootsnipp.com/iframe/xpyz9 -->
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex">
        <title>Template 3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template-3.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template.css" rel="stylesheet">
        <link rel="stylesheet prefetch" href="<?php echo URL_BASE; ?>app/assets/css/font-awesome.min.css">

    </head>

    <body>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                         <div class="clearfix capa">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <img class="img-thumbnail img-responsive img-capa" alt="140x140" src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/profile.png" />
                                <h1 class="title">
                                    <p class="name-1">
                                        Maickon
                                    </p>
                                    <small class="name-2">Rangel</small>
                                </h1>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2 buttons">
                                 <button class="btn btn-default btn-block btn-capa" type="button">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    <div class="hidden-xs">Promoções</div>
                                 </button>
                                 <button class="btn btn-default btn-block btn-capa" type="button">
                                    <i class="fa fa-wifi" aria-hidden="true"></i>
                                    <div class="hidden-xs">Temos internet</div>
                                 </button>
                                 <button class="btn btn-default btn-block btn-capa" type="button">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <div class="hidden-xs">Localização</div>
                                 </button>
                            </div>
                        </div>
                        <div class="btn-menu btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                            <div class="btn-group btn-item-menu" role="group">
                                <a id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
                                    <i class="fa fa-list" aria-hidden="true"></i>
                                    <div class="hidden-xs">Cardápio</div>
                                </a>
                            </div>
                            <div class="btn-group btn-item-menu" role="group">
                                <a id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                                    <i class="fa fa-beer" aria-hidden="true"></i>
                                    <div class="hidden-xs">Cervejas</div>
                                </a>
                            </div>
                            <div class="btn-group btn-item-menu" role="group">
                                <a id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                    <div class="hidden-xs">Alimentação</div>
                                </a>
                            </div>
                            <div class="btn-group btn-item-menu" role="group">
                                <a id="following" class="btn btn-default" href="#tab5" data-toggle="tab">
                                    <i class="fa fa-glass" aria-hidden="true"></i>
                                    <div class="hidden-xs">Bebidas</div>
                                </a>
                            </div>
                            <div class="btn-group btn-item-menu" role="group">
                                <a id="following" class="btn btn-default" href="#tab4" data-toggle="tab">
                                    <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                                    <div class="hidden-xs">Formas de pagamento</div>
                                </a>
                            </div>
                        </div>
                        <div class="cardapio">
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab1">
                                     <p>Rua alcantara net Jr </p>
                                </div>
                                <div class="tab-pane fade in" id="tab2">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Refrigerantes</a>
                                                    <a class="list-group-item">Coca-Cola 2L - R$ 8,00 <small></small></a>
                                                    <a class="list-group-item">Guaraná Amtártica 2L - R$ 6,00 <small></small></a>
                                                    <a class="list-group-item">Coca-Cola 300Ml - R$ 4,00<small></small></a>
                                                    <a class="list-group-item">Guaraná Amtártica 300Ml - R$ 3,60<small></small></a>
                                                    <a class="list-group-item">Guaraná Convenção 2L - R$ 4,00<small></small></a>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Bebidas Alcólicas</a>
                                                    <a class="list-group-item">Cerveja Skoll Latão 550Ml- R$ 5,00 <small></small></a>
                                                    <a class="list-group-item">Cerveja skoll Litrão - R$ 9,00 <small></small></a>
                                                    <a class="list-group-item">Cerveja Antártica 600Ml - R$ 8,00<small></small></a>
                                                    <a class="list-group-item">Dose Vodka - R$ 5,00<small></small></a>
                                                    <a class="list-group-item">Dose Tequila - R$ 10,00<small></small></a>
                                                    <a class="list-group-item">Cerveja Itaipava 600Ml - R$ 6,00<small></small></a>
                                                    <a class="list-group-item">Dose Cortezano - R$ 4,00<small></small></a>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade in" id="tab3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Lanches</a>
                                                    <a class="list-group-item">Hamburguer - R$ 6,00 <small>(Pão, carne, salada, tomate)</small></a>
                                                    <a class="list-group-item">Cachorro quente - R$ 6,00 <small>(Pão, carne, molho, salsisha, milho, uva passa, batata palha)</small></a>
                                                    <a class="list-group-item">Misto quente - R$ 4,00<small>(Pão, presunto, mussarela)</small></a>
                                                    <a class="list-group-item">Burguesão com Ovo - R$ 7,00<small>(Pão, ovo, salada, alface, carne de amburguer)</small></a>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Aperitivos</a>
                                                    <a class="list-group-item">Carne seca- R$ 5,00 <small></small></a>
                                                    <a class="list-group-item">Carne de hamburguer com presunto - R$ 6,00 <small></small></a>
                                                    <a class="list-group-item">Batata Frita - R$ 15,00<small></small></a>
                                                    <a class="list-group-item">Ainpin - R$ 10,00<small></small></a>
                                                    <a class="list-group-item">Mocotó - R$ 10,00<small></small></a>
                                                    <a class="list-group-item">Linguíça - R$ 7,00<small></small></a>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Lanches</a>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <img src="http://127.0.0.1/lemenu/app/assets/img/clientes/629ac9f3204778a3689a9751acfe242ae240883e/original_6fe2569cf432768cb3f15ec6fc449c030e0c7617.png" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-6">
                                                                Original - R$ 6,00 <small>(Pão, carne, salada, tomate)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <img src="http://127.0.0.1/lemenu/app/assets/img/clientes/629ac9f3204778a3689a9751acfe242ae240883e/big_6fe2569cf432768cb3f15ec6fc449c030e0c7617.png" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-7">
                                                               Big - R$ 7,00<small>(Pão, ovo, salada, alface, carne de amburguer)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-4">
                                                                <img src="http://127.0.0.1/lemenu/app/assets/img/clientes/629ac9f3204778a3689a9751acfe242ae240883e/large_6fe2569cf432768cb3f15ec6fc449c030e0c7617.png" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-8">
                                                               Large- R$ 7,00<small>(Pão, ovo, salada, alface, carne de amburguer)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <img src="http://127.0.0.1/lemenu/app/assets/img/clientes/629ac9f3204778a3689a9751acfe242ae240883e/small_6fe2569cf432768cb3f15ec6fc449c030e0c7617.png" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-9">
                                                                Small - R$ 6,00 <small>(Pão, carne, molho, salsisha, milho, uva passa, batata palha)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                <img src="http://127.0.0.1/lemenu/app/assets/img/clientes/629ac9f3204778a3689a9751acfe242ae240883e/min_6fe2569cf432768cb3f15ec6fc449c030e0c7617.png" class="img-responsive">
                                                            </div>
                                                            <div class="col-md-10">
                                                               Min - R$ 4,00<small>(Pão, presunto, mussarela)</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item active-item">Aperitivos</a>
                                                    <a class="list-group-item">Carne seca- R$ 5,00 <small></small></a>
                                                    <a class="list-group-item">Carne de hamburguer com presunto - R$ 6,00 <small></small></a>
                                                    <a class="list-group-item">Batata Frita - R$ 15,00<small></small></a>
                                                    <a class="list-group-item">Ainpin - R$ 10,00<small></small></a>
                                                    <a class="list-group-item">Mocotó - R$ 10,00<small></small></a>
                                                    <a class="list-group-item">Linguíça - R$ 7,00<small></small></a>
                                                </div>  
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Formas de pagamento -->
                                <div class="tab-pane fade in" id="tab4">
                                     <p>Aceitamos cardões</p>
                                     <p>Visa</p>
                                     <p>Mastercard</p>
                                     <p>Cartão alimentação</p>
                                     <p>Ticket alimentação</p>
                                </div>

                                 <div class="tab-pane fade in" id="tab5">
                                     <p>Formas de contato </p>
                                     <p>Página Facebook </p>
                                     <p>(22) 9688758-9987 WhatsApp </p>
                                     <p>contato@eamail.com </p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>  
            </div>  
        </div>  
    
        <div class="logo-fixed">
            Crie um cardápio no 
            <a href="#" class="fa-lemenu">Lemenu</a>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="http://127.0.0.1/lemenu/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1/lemenu/lemenu/#sobre-section">
                                Sobre
                            </a>
                        </li>
                        <li>
                             <a href="http://127.0.0.1/lemenu/lemenu/#portifolio-section">
                                Portfolio
                            </a>
                        </li>
                        <li>
                             <a href="http://127.0.0.1/lemenu/lemenu/#pricing-section">
                               Preço
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    © 2017  Lemenu.com.br | All Rights Reserved
                </p>
            </div>
        </footer>
         <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.js"></script>
        <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap.min.js"></script>
    </body>
</html>