<!DOCTYPE html>
<!-- saved from url=(0036)https://s.bootsnipp.com/iframe/3kD3D -->
<html lang="en">
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="robots" content="noindex">

        <title>Template 1</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet prefetch" href="<?php echo URL_BASE; ?>app/assets/css/font-awesome.min.css">
        <link href="<?php echo URL_BASE; ?>app/assets/css/spectrum.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template.css" rel="stylesheet">
        <link href="<?php echo URL_BASE; ?>app/assets/css/template-1.css" rel="stylesheet" id="template-css">
        
        
    </head>

    <body>
        <div class="wrapper">
            <div class="container">
                <div class="row options_template">
                    <div class="col-md-3">
                        <div class="form-group">
                        <label>Fundo da página</label>
                            <select id="select_background_box" class="form-control">
                                <option>Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo de Fonte (Capa)</label>
                            <select id="option_font_box" class="form-control">
                                <option>Selecione</option>
                                <option value="Agency FB">Agency FB</option>
                                <option value="Arial">Arial</option>
                                <option value="Arial Rounded MT Bold">Arial Rounded MT Bold</option>
                                <option value="Baskerville Old Face">Baskerville Old Face</option>
                                <option value="Bell MT">Bell MT</option>
                                <option value="Berlin Sans FB">Berlin Sans FB</option>
                                <option value="Brush Script Std">Brush Script Std</option>
                                <option value="Monotype Corsiva">Monotype Corsiva</option>
                                <option value="Fixedsys">Fixedsys</option>
                                <option value="HamburgerHeaven">HamburgerHeaven</option>
                                <option value="Impact">Impact</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tamanho da fonte (Capa)</label>
                            <select id="option_font_title_size_box" class="form-control" title="Tamanho da fonte do nome para o nome do estabelecimento.">
                                <?php for ($i=25; $i<=40; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i ?>px</option>
                                <?php endfor ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tamanho da fonte em categorias (Capa)</label>
                            <select id="option_font_category_size_box" class="form-control" title="Tamanho da fonte para o nome da categoria.">
                                <?php for ($i=12; $i<=25; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i ?>px</option>
                                <?php endfor ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Colunas no cardápio</label>
                            <select id="option_menu_box" class="form-control" title="Número de colunas no cardápio.">
                                <?php for ($i=1; $i<=3; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i ?> Coluna</option>
                                <?php endfor ?>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Exibir imagem no cardápio?</label>
                            <select id="option_image_cardapio_box" class="form-control" title="Cor da fonte.">
                                <option value="defualt">Não</option>
                                <option value="min">Sim - Tamanho mínimo</option>
                                <option value="small">Sim - Tamanho pequeno</option>
                                <option value="large">Sim - Tamanho largo</option>
                                <option value="big">Sim - Tamanho grande</option>
                                <option value="original">Sim - Tamanho original</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tipo de Fonte (Cardápio)</label>
                            <select id="option_font_cardapio_box" class="form-control">
                                <option>Selecione</option>
                                <option value="Agency FB">Agency FB</option>
                                <option value="Arial">Arial</option>
                                <option value="Arial Rounded MT Bold">Arial Rounded MT Bold</option>
                                <option value="Baskerville Old Face">Baskerville Old Face</option>
                                <option value="Bell MT">Bell MT</option>
                                <option value="Berlin Sans FB">Berlin Sans FB</option>
                                <option value="Brush Script Std">Brush Script Std</option>
                                <option value="Monotype Corsiva">Monotype Corsiva</option>
                                <option value="Fixedsys">Fixedsys</option>
                                <option value="HamburgerHeaven">HamburgerHeaven</option>
                                <option value="Impact">Impact</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Tamanho da fonte (Cardápio)</label>
                            <select id="option_font_size_cardapio_box" class="form-control" title="Tamanho da fonte do nome para o cardápio.">
                                <?php for ($i=14; $i<=30; $i++): ?>
                                <option value="<?php echo $i ?>"><?php echo $i ?>px</option>
                                <?php endfor ?>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <header id="header">
                            <div class="slider">
                                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Wrapper for slides -->
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <img src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/restaurante-1.png">
                                        </div>
                                        <div class="item">
                                            <img src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/restaurante-2.png">
                                        </div>
                                        <div class="item">
                                            <img src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/restaurante-3.png">
                                        </div>
                                     </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                        <span class="fa fa-angle-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                        <span class="fa fa-angle-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <!--slider-->
                            <nav class="navbar navbar-default">
                                 <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">
                                        <img class="img-responsive" src="<?php echo URL_BASE; ?>app/assets/img/cardapio-layout/profile.png">
                                    </a>
                                    <span class="site-name option_font_title_size_box"><b><?php echo $estabelecimento[0]->nome ?></b></span>
                                    <span class="site-description option_font_category_size_box"><?php echo $categorias ?></span>
                                </div>
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="mainNav">
                                    <ul class="nav main-menu navbar-nav">
                                        <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                                        <li>
                                            <a href="#" id="search_concept" class="dropdown-toggle" data-toggle="dropdown">
                                                Categorias <i class="fa fa-sort-desc"></i>
                                            </a>
                                            <ul class="dropdown-menu" role="menu">
                                        <?php foreach ($menus as $key => $value): ?>
                                            <li><a href="<?php echo $value['url']; ?>"><?php echo $value['menu']; ?></a></li>
                                        <?php endforeach ?>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <?php foreach ($social_links as $key => $value): ?>
                                            <?php if (!empty($value)): ?>
                                            <li class="font_tamplate_menu"><a href="<?php echo $value; ?>"><i class="fa <?php echo $key; ?>"></i></a></li> 
                                            <?php endif ?>
                                        <?php endforeach ?>
                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->
                            </nav>
                        </header>  
                    </div>
                </div>
                <div class="row options_template">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cor do fundo do Título (Cardápio)</label><br>
                            <input type='text' class="color_input" id="fundo_titulo_cardapio" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cor do Título (Cardápio)</label><br>
                            <input type='text' class="color_input" id="titulo_cardapio" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cor da descrição (Cardápio)</label><br>
                            <input type='text' class="color_input" id="descricao_cardapio" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Cor de fundo (Cardápio)</label><br>
                            <input type='text' class="color_input" id="fundo_cardapio" />
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <?php foreach ($cardapio_por_catg as $key => $value): ?>
                    <div class="col-md-6 menu_template_columns">
                        <div class="menu_card">
                            <div class="item_title"><?php echo $key; ?></div>
                            <?php foreach ($value as $item_cardapio_key => $item_cardapio_value): ?>
                            <div class="col-md-12 item_description">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img src="/lemenu/app/assets/img/clientes/<?php echo sha1($_SESSION['email']); ?>/big_<?php echo $item_cardapio_value->imagem; ?>" class="img-responsive">
                                    </div>
                                    <div class="col-md-9 text_description">
                                        <?php echo $item_cardapio_value->nome; ?> - R$ <?php echo $item_cardapio_value->preco; ?> 
                                        <small>(<?php echo $item_cardapio_value->descricao; ?>)</small>
                                    </div>
                                </div>
                            </div>
                            <?php endforeach ?>
                        </div>
                    </div> 
                    <?php endforeach ?>
                </div>
            </div>
            <div class="logo-fixed">
                Crie um cardápio no 
                <a href="#" class="fa-lemenu">Lemenu</a>
            </div>
            <footer class="footer">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="http://127.0.0.1/lemenu/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="http://127.0.0.1/lemenu/lemenu/#sobre-section">
                                    Sobre
                                </a>
                            </li>
                            <li>
                                 <a href="http://127.0.0.1/lemenu/lemenu/#portifolio-section">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                 <a href="http://127.0.0.1/lemenu/lemenu/#pricing-section">
                                   Preço
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <p class="copyright pull-right">
                        © 2017  Lemenu.com.br | All Rights Reserved
                    </p>
                </div>
            </footer>
        </div>
    </body>
    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.js"></script>
    <script src="<?php echo URL_BASE; ?>app/assets/js/spectrum.js"></script>
    <script src="<?php echo URL_BASE; ?>app/assets/js/style-spectrum.js"></script>
    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap.min.js"></script>
    <script src="<?php echo URL_BASE; ?>app/assets/js/template.js"></script>
</html>