<section id="slide-head" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1><?php echo $avisos['titulo']; ?></h1>
                    <p class="lead">
                        <?php echo $avisos['desc']; ?>
                    </p>
                    <a href="javascript:window.history.go(-1)" class="btn btn-default btn-lg margin-top-20">Voltar</a>
                    <a href="<?php echo URL_BASE; ?>" class="btn btn-default btn-lg margin-top-20">Home</a>
                </div>
            </div>
        </div>
    </div>
</section>