<!--  
	Arquivo gerado pelo Build_Core 
	@author Maickon Rangel
	Prodigio Framework - 2017
	View: enderecos
-->

<section>
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
            	<?php 
            		echo '<pre>';
                    print_r($_REQUEST);
					print_r($_SESSION);
					echo '</pre>';
            	?>
            </div>
        </div>
    </div>
</section>