<section id="slide-head" >
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1><?php echo $msg_title; ?></h1>
                </div>
                <p class="lead"><?php echo $msg_desc; ?></p>
            </div>
        </div>
    </div>
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
            	<form method="post" action="usuarios/create" data-toggle="validator" role="form">
					<div class="form-group">
						<label for="inputlg" class="label">Insira o seu nome</label>
						<input class="form-control input-lg" name="nome" id="nome" value="<?php echo $nome; ?>" autofocus="true" placeholder="Exemplo: Roberto Torres" type="text" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Insira o seu e-mail</label>
						<input class="form-control input-lg" name="email" id="email" value="<?php echo $email; ?>" placeholder="Exemplo: roberto.torres@gmail.com" type="email" data-error="Por favor, informe um e-mail correto." required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Insira o seu telefone</label>
						<input class="form-control input-lg" name="telefone" id="telefone" value="<?php echo $telefone; ?>" placeholder="Exemplo: (22) 99921-1205" data-mask="(00)00000-0000" maxlength="12" type="telephone" required>
						<span class="help-block with-errors"></span>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Insira a sua senha</label>
						<input class="form-control input-lg" name="senha" id="senha" type="password" data-minlength="6" data-error="Mínimo de seis (6) digitos" required>
						<span class="help-block with-errors"></span>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Confirmar senha</label>
						<input class="form-control input-lg" id="confirma" type="password" data-match="#senha" data-match-error="Atenção! As senhas não estão iguais." required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<a href="<?php echo URL_BASE; ?>" class="btn btn-default btn-lg" role="button">Voltar</a>
						<input type="submit" value="Avançar" class="btn btn-default btn-lg">
					</div>
            	</form>
            </div>
        </div>
    </div>
</section>

<!-- https://www.youtube.com/watch?v=hEF97Ui6NRk -->
<!-- http://www.free-css.com/template-categories/bootstrap?start=156 -->