<!--PORTFOLIO SECTION -->
<section id="portfolio-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1><i class="fa fa-picture-o small-icons bk-color-light-blue"></i>Portfolio</h1>
                    <p class="lead">
                        Visualize as telas de exemplo de um cardápio cadastrado no Lemenu.                        
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
          
            <div class="col-md-10 col-md-offset-1 col-sm-12" data-scrollreveal="enter right and move 100px, wait 0.6s">
                <ul class="portfolio-items col-3">
                    <li class="portfolio-item ">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t1.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                   
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t3.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t4.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t5.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big5.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t1.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big1.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                       <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t3.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big3.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                    <li class="portfolio-item">
                       <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t4.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big4.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                     <li class="portfolio-item">
                        <div class="item-main">
                            <div class="portfolio-image">
                                <img src="<?php echo URL_BASE; ?>app/assets/img/portfolio/thumb/t2.png" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-primary" title="Image Title Here" href="<?php echo URL_BASE; ?>app/assets/img/portfolio/big/big2.png"><i class=" fa fa-eye"></i></a>
                                </div>
                            </div>
                            <h5>Lorem ipsum dolor sit amet</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>

</section>
<!--END PORTFOLIO SECTION -->