<!--PRICING SECTION -->
<section id="pricing-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1><i class="fa fa-money small-icons bk-color-blue"></i>Opções de Preço</h1>
                    <p class="lead">
                        Escolha um tipo de assinatura no Lemenu que atenda suas necessidades.                        
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
                <div id="pricing-table" class="row">
                    <div class="col-md-4 col-sm-4" data-scrollreveal="enter left and move 100px, wait 0.6s">
                        <ul class="plan-main">
                            <li class="plan-name">Básico</li>
                            <li class="plan-price">R$ 10</li>
                            <li>Cadastro de apenas um cardápio</li>
                            <li>Limite de 5 itens no cadastro</li>
                            <li>Layout Fixo</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Assinar</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                        <ul class="plan-main featured">
                            <li class="plan-name">Médio</li>
                            <li class="plan-price">R$ 20</li>
                            <li>Cadastro de apenas um cardápio</li>
                            <li>Limite de 5 itens no cadastro</li>
                            <li>Lista de Layouts pronto</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Assinar</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-4" data-scrollreveal="enter right and move 100px, wait 0.6s">
                        <ul class="plan-main">
                            <li class="plan-name">Completo</li>
                            <li class="plan-price">R$ 30</li>
                            <li>Cadastro de diversos cardápios</li>
                            <li>Sem limite de itens no cadastro</li>
                            <li>Layout Editável</li>
                            <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Assinar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END PRICING SECTION -->