<!--SERVICES SECTION -->
<section id="sobre-section">
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
                <div class="text-center">
                    <h1><i class="fa fa-check small-icons bk-color-green"></i>Serviços</h1>
                    <p class="lead">
                        O Lemenu te oferece de uma maneira simples a oportunidade de colocar o seu cardápio online através de nosso sistema. Você cria uma conta e preenche as informações e pronto! Você tará um cardápio online para qualquer cliente.                        
                    </p>
                </div>
            </div>
            <!-- ./ Heading div-->
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 ">
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-bolt icon-round bk-color-red"></i>
                        <h4>Velocidade</h4>
                        <p>
                            Usando o Lemenu você dá o conforto ao seu cliente de poder visualizar o seu cardápio a partir de qualquer lugar.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-comments icon-round bk-color-black"></i>
                        <h4>Facilidade</h4>
                        <p>
                            Usando o Lemenu ficará mais fácil para seus clientes encontrarem o que querem e ao mesmo tempo eles poderão compartilhar com seus amigos as novidades que você oferece.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-desktop icon-round bk-color-light-blue"></i>
                        <h4>Responsivo</h4>
                        <p>
                            O site do Lemenu é flexível para qualquer tipo de dispositivo. Isso significa que seus clientes conseguirão visualizar o seu cardápio com conformto em qualquer dispositivo de pequeno porte.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter left and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-money icon-round bk-color-green"></i>
                        <h4>Baixo Custo</h4>
                        <p>
                            O valor que você paga para publicar o seu cardápio no Lemenu é baixo e você pode cancelar o serviço a qualquer momento.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter bottom and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-pencil icon-round bk-color-blue"></i>
                        <h4>Menu Editável</h4>
                        <p>
                            Uma vez que tenha criado a sua conta e cadastrado o seu cardápio você é livre para editar o seu cardápio a qualquer momento.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6" data-scrollreveal="enter right and move 100px, wait 0.6s">
                    <div class="text-center">
                        <i class="fa fa-thumbs-up icon-round bk-color-brown"></i>
                        <h4>Satisfação</h4>
                        <p>
                            Seus clientes estarão satisfeitos pela facilidade de acesso ao seu cardápio e isso lhe trará vantagens sobre os seus concorrentes.
                        </p>
                    </div>
                </div>
            </div>
            <!-- ./ Content div-->
        </div>
    </div>
</section>
<!--END SERVICES SECTION -->