<!--SLIDE CAROUSEL SECTION -->
<section id="slide-head" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Coloque seu menu online para seus clientes</h1>
                    <p class="lead">
                        Crie uma página para o seu site e adicione o seu cardápio/menu e alcance mais clientes.
                    </p>
                    <a href="<?php echo URL_BASE; ?>abrir-conta" class="btn btn-default btn-lg margin-top-20">Crie uma conta</a>
                </div>
            </div>
        </div>
        <!-- ./ first active div-->
        <div class="item">
            <div class="container">
                <div class="carousel-content">
                    <h1>Deixe novos clientes te conhecer</h1>
                    <p class="lead">
                        Com o Lemenu o seu estabelecimento ficará ao alcance de novos clientes.
                    </p>
                    <a href="<?php echo URL_BASE; ?>abrir-conta" class="btn btn-default btn-lg margin-top-20">Crie uma conta</a>
                </div>
            </div>
        </div>
        <!-- ./ Second div-->
    </div>
    <a class="prev" href="#slide-head" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#slide-head" data-slide="next"><i class="fa fa-angle-right"></i></a>
</section>
<!--END SLIDE CAROUSEL SECTION -->