#erro{
	text-align:center; 
	color:#FFF; 
	background-color:#ff3030; 
	width:100%;
	height:100%;
}

#erro-title{
	padding-top: 28%;
	font-size: 72px;
}

#erro-desc{
	margin-bottom: 50%;
}

a#erro-link{
	background-color: #fff;
	color: #000;
	border-radius: 6px;
	margin: 5px;
	padding: 5px;
	text-decoration: none;
}

a#erro-link:hover{
	color: #ff3030;
}