#mapa {
    width: 100%;
    height: 50%;
    border:  groove;
    margin-top: 10px;
}

.infoBox { 
    background-color: #FFF; 
    width: 300px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 14px; 
    border: 2px solid #FF3030; 
    border-radius: 3px; 
    margin-top: 10px; 
}

.infoBox p { padding: 0 15px }
.infoBox a { color: #FF3030; }
.infoBox a:hover { color: #FF3030; font-weight: bold; }
.infoBox span { margin-left: 15px; }
.infoBox: before { 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #FF3030; 
    top: -10px; 
    content: ""; 
    height: 0; 
    position: absolute; 
    width: 0; 
    left: 138px 
}