.title-dashboard{
	width: 127px;
  margin-left: 25%;
}

[data-color=red]{
  background-color: #FF3030 !important;
}

.input-table{
  border: none;
  width: auto;
}

#alert{
  display: none;
}

.id{
  border: none;
  width: 40px;
}

.preco{
  border: none;
  width: 80px; 
}

.categoria{
  border: none;
  width: 100px; 
}

.img{
  cursor: pointer;
}

.data-hide{
  border: none;
  display: none;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.sidebar-wrapper{
	height: 100% !important;
	width: 400px;
}

.btn-red{
  background-color: #FF3030 !important; 
  border: 1px solid #FF3030;
}

.btn-red:hover{
  border: 1px solid #FFFFFF;
}

.form_cardapio{
  margin-top: 10px;
}

#previewing{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#loading{
  text-align: center;
  display: none;
}

#loading_edit{
  text-align: center;
  display: none;
}

.modal-msg{
  margin-top: 5px;
}

.select-data{
  border: none;
}

.icon-table{
  font-size: 20px;
  display: block;
  margin-left: 12px;
  cursor: pointer;
}

.bandeira{
  width: 15%;
  float: right;
  position: inline;
}

.bandeira-map{
  width: 15%;
  margin-right: 4px;
  margin-top: 4px;
  border: 1px solid gray;
  border-radius: 3px;
}

.bandeiras-pagamento{
  width: 90%;
  height: auto;
  margin: 15px;
  margin-top: 2px;
}

.display-msg{
  display: none;
}

.icon-clock{
  font-size: 18px;
  float: left;
}

.tabela-horarios{
  font-size: 11px;
  width: 100%;
}


/* sobrescrevendo o css do painel adm - inico */
.filter-option, .pull-left img{
  display: none;
}

.bs-searchbox input{
  margin-bottom: 20px;
  border:  1px silver solid !important;
  border-radius: 5px !important;
}

.link-red { color: #FF3030; }
.link-red:hover { color: #FF3030; font-weight: bold; }
/* sobrescrevendo o css do painel adm - fim*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:not(.btn):hover,
.navbar-default .navbar-nav > .active > a:not(.btn):focus,
.navbar-default .navbar-nav > li > a:not(.btn):hover,
.navbar-default .navbar-nav > li > a:not(.btn):focus {
  background-color: transparent;
  border-radius: 3px;
  color: #FF3030;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-bottom-color: #FF3030;
  border-top-color: #FF3030;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #FF3030;
}
.navbar-default .navbar-nav .navbar-toggle:hover, .navbar-default .navbar-nav .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default:not(.navbar-transparent) .btn-default:hover {
  color: #FF3030;
  border-color: #FF3030;
}

/* datatables */

li.datatables_previous a:hover{
  color: #696969 !important;
}

ul.pagination li.active a:hover{
  color: #696969 !important;
}

#datatables_next a, #datatables_last a, #datatables_previous a:hover{
  color: #696969 !important;
}

ul.pagination li.active a{
  background-color: #FF3030 !important;
}

ul.pagination li.active a:hover{
  color: #FFF !important;
}