@font-face {
    font-family: 'Amontilladios';
    src: url('../fonts/Amontilladios.ttf');
    font-weight: 100;
    font-style: normal;
}

a.fa-lemenu{
	font-family: 'Amontilladios';
	font-size: 30px;
	color: #FFF;
	text-decoration: none !important;
}

.fa-lemenu a:hover{
	color: #000 !important;
}

.logo-fixed{
	z-index: 999999;
	box-shadow: 0 0 5px 2px rgba(0,0,0,0.6);
	width: 100%;
	/* display: none; */
	padding-top: 0;
	/* position: fixed; */
	top: 0; left: 0;
	background: #FF3030;
	text-align: center;
	color: #FFF;
}

a.active-item{
	background: #FF3030;
	color: #FFF;
}

a.active-item:hover{
	background: #FF3030;
}

.footer{
	background: #FF3030;
	color: #FFF;
	height: 100px;
}

.pull-left{
	float: left
}

.pull-right{
	float: right;
}

.copyright{
	margin-top: 15px;
	color: #fff;
}

.pull-left ul{
	padding:0px;
    margin:0px;
    background-color: transparent;
    list-style:none;
    color: #fff;
}

.pull-left ul li{
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

li a{
	color: #FFF;
}

li a:hover{
	color: #FFF;
	text-decoration: none;
	cursor: pointer;
}

small{
	font-style: italic;
	display: block;
}

.menu_card{
	background-color: #FFF;
	padding: 15px;
	margin-bottom: 10px;
}

.item_title{
	text-align: center;
	background-color: #FF3030;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}

.color{
	width: 50px;
	height: 50px;
	border: 1px solid #000;
}

.red{
	background-color: red;
}

.item_description{
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

.options_template{
	background-color: #FFF;
	margin: 0;
	font-size: 12px;
}
#option_title{
	cursor: pointer;
}
#option_title_box{
	position: relative;
}

.option_background{
	color: #FFF;
	cursor: pointer;
	display: inline;
	width: 120px;
}

.sp-replacer{
	width: 70% !important;
	border-radius: 4px;
	border: 1px solid #D3D3D3;
}

.sp-preview{
	width: 85% !important;
}