body{
    /* background:#e9eaed; */
    /* background: #000; */
    background-image: url("/lemenu/app/assets/img/background/irongrip/irongrip.png");
    background-repeat: repeat;
}
    
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}
	
.container{}

.wrapper{}

#header{
	border:1px solid #ddd;
	margin-bottom:20px;
	}
		
.navbar{
	border-radius:0;
	margin-bottom:0;
	border:none;
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}
    
.navbar > li >a{}
	
.navbar-header{}
	
.navbar-brand{
	width:160px;
	height:160px;
	float:left;
	padding:0;
	margin-top:-130px;
	overflow:hidden;
	border:3px solid #eee;
	margin-left:15px;
	background:#333;
	text-align:center;
	line-height:160px;
	color:#fff !important;
	font-size:2em;
    -webkit-transition:  all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition:  all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out ;
}
	
.site-name{
	color:#fff;
	font-size:2.4em;
	float:left;
	margin-top:-65px !important;
	margin-left:15px;
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}	

.site-description{
	color:#fff;
	font-size:1.3em;
	float:left;
	margin-top:-30px !important;
	margin-left:15px;
}
	
.main-menu{
	position:absolute;
	left:190px;
}
	
.slider, .carousel{
	max-height:260px;
	overflow:hidden;
}
	
.carousel-control .fa-angle-left, .carousel-control .fa-angle-right {
	position: absolute;
	top: 35%;
	font-size:2em;
	z-index: 5;
	display: inline-block;
}

.carousel-control{
	background-color:transparent;
	background-image:none !important;
}
	
.carousel-control:hover, .carousel-control:focus {
  color: #fff;
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}

@media (max-width: 768px) {
	.navbar-brand{
	    max-width: 100px;
		max-height:100px;
		float:left;
		margin-top:-65px;
		margin-left:15px;
		-webkit-transition:  all 0.3s ease-in-out;
	  	-moz-transition: all 0.3s ease-in-out;
	  	-o-transition:  all 0.3s ease-in-out;
	  	transition: all 0.3s ease-in-out ;
	 }
  
	.navbar{
		border-radius:0;
		margin-bottom:0;
		border:none;
	}
	
	.main-menu{
		left:0;
		position:relative;
	}
}

@media (max-width: 490px) {
	.site-name{
		color:#fff;
		font-size:1.5em;
		float:left;
		line-height:20px;
		margin-top:-100px !important;
		margin-left:125px;
	}	
.site-description{
		color:#fff;
		font-size:1.3em;
		float:left;
		margin-top:-80px !important;
		margin-left:125px;
	}
}