body{
    /* background:#e9eaed; */
    /* background: #000; */
    background-image: url("/lemenu/app/assets/img/background/black_lozenge/black_lozenge.png");
    background-repeat: repeat;
}

.img-capa{
    width: 170px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    float: left;
}

.capa{
    position: relative;
    margin-top: 50px;
    border: groove;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: url('/lemenu/app/assets/img/cardapio-layout/restaurante-1.png');
    width: 100%;
}

.buttons{
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    float: left;
}
.name-1{
    color: #fff;
    font-weight: bold;
}

.name-2{
    color: #fff;
}

.btn-capa{
    width: 100%;
}

.btn-menu{
    border-left: groove;
    border-right: groove;
    border-bottom: none;
    margin: 0;
    width: 100%;
}

.btn-item-menu{
    width: 20.065%;
    margin: 0;
    padding: 0;
}

.cardapio{
    border: groove;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #fff;
    padding: 5px;
    margin-bottom: 20px;
}

.img-responsive {
    margin: 0 auto;
}