<div class="content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Alterar senha</h4>
                        <p>Esteja certo de que sua senha é forte. Utilize caracteres especiais como <b>!@#</b>, <b>letras maiúsculas e minúsculas</b> e <b>números para maior segurança</b>.</p>
                        <p>Quando sua senha for atualizada você será redirecionado para a página de login. Faça login com sua nova senha.</p>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/usuario-atualizar" uarios/create" data-toggle="validator" role="form">
                            <input type="hidden" name="id"  value="<?php echo $_SESSION['id']; ?>">
                            <div class="form-group">
                                <label for="inputlg" class="label">Insira a sua senha</label>
                                <input class="form-control input" name="senha" id="senha" type="password" data-minlength="6" data-error="Mínimo de seis (6) digitos" required>
                                <span class="help-block with-errors"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Confirmar senha</label>
                                <input class="form-control input" id="confirma" type="password" data-match="#senha" data-match-error="Atenção! As senhas não estão iguais." required>
                                <div class="help-block with-errors"></div>
                            </div>  
                            <button type="submit" class="btn btn-red btn-fill pull-right">Atualizar dados</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>