<div class="content">
    <div class="container-fluid">
        <div class="row">
            <?php if ($params == 'cadastrado'): ?>
            <div class="col-md-12">
                
                    <div class="content">
                        <div class="alert alert-success">
                          <strong>Sucesso!</strong> Item de cardápio criado.
                        </div>
                    </div>
                
            </div>
            <?php endif ?>
             <div class="col-md-12">
                <div class="card card-user">
                    <div class="footer">
                        <form method="post" action="/lemenu/novo-item-cardapio" class="form_cardapio" enctype="multipart/form-data">
                            <input type="hidden" name="id_estabelecimento" value="<?php echo $_SESSION['id_estabelecimento'] ?>">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" required class="form-control" name="nome" placeholder="Nome do item. Ex: Burguesão">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Preço</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">R$</span>
                                            <input type="text" required class="form-control" id="moeda_real" name="preco" placeholder="Preço. Ex: R$ 5,00">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <input type="text" required class="form-control" name="categoria" placeholder="Categoria do item. Ex: bebidas">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Imagem (Opcional)</label>
                                        <input type="hidden" name="imagem" id="imagem_nome" value="">
                                        <a href="#" data-toggle="modal" data-target="#imgUpload" class="form-control btn btn-red btn-fill" id="add_image">Adicionar imagem</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <textarea class="form-control" name="descricao" placeholder="Uma descrição sobre o item. Ex: coca-cola em lata 300ml, pão, carne, batata palha e etc (caso seja um lanche por exemplo) "></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="novo_item" class="btn btn-red btn-fill">Adicionar ao cardápio</button>
                        </form>
                        <!-- Modal Imagem -->
                        <div class="modal fade" id="imgUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Adicionar imagem</h4>
                                        <h4 id="loading">loading..</h4>
                                        <div id="message"></div>
                                    </div>
                                    <div class="modal-body">
                                        <form id="uploadimage" action="" method="post" enctype="multipart/form-data">
                                            <div id="image_preview">
                                                <img id="previewing" src="<?php echo URL_BASE; ?>app/assets/img/no-image.fw.png" class="img-responsive" />
                                            </div>
                                            
                                            <hr id="line">
                                            
                                            <div id="selectImage">
                                                <label>Selecione uma imagem</label><br/>
                                                <label class="btn btn-red btn-fill btn-file">
                                                    Carregar imagem<input type="file" name="file" id="file" required />
                                                </label>
                                                <input type="submit" value="Upload" class="submit btn btn-red btn-fill" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-red btn-fill" data-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim modal Imagem -->
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-user">
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline" id="datatables">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Img</th>
                                        <th>Nome</th>
                                        <th>Preço</th>
                                        <th>Categoria</th>
                                        <th>Descrição</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                <?php foreach ($cardapios as $key => $value): ?>
                                <tr>
                                    <td>
                                        <input class="id" type="text" readonly name="id" value="<?php echo $value->id ?>">
                                        <div class="data-hide"><?php echo $value->id ?></div>
                                    </td>
                                    <td>
                                        <input type="hidden" onchange="set_data(this, <?php echo $value->id ?>)" name="imagem>">
                                        <div class="pe-7s-paperclip img" onclick="editImgModal(<?php echo $value->id.',\''.sha1($_SESSION['email']).'\'' ?>)" data-toggle="modal" data-target="#editImgModal"></div>
                                    </td>
                                    <td>
                                        <input class="input-table" type="text" onchange="set_data(this, <?php echo $value->id ?>)" id="nome-<?php echo $value->id ?>" name="nome" value="<?php echo $value->nome ?>">
                                        <div class="data-hide" id="nome_label"><?php echo $value->nome; ?></div>
                                    </td>
                                    <td>
                                        <input class="preco" type="text" onchange="set_data(this, <?php echo $value->id ?>)" id="preco-<?php echo $value->id ?>" name="preco" value="<?php echo $value->preco ?>">
                                        <div class="data-hide"><?php echo $value->preco; ?></div>
                                    </td>
                                    <td id="select-<?php echo $value->id ?>">
                                        <select class="select-data" id="select-data-<?php echo $value->id ?>" name="categoria" onchange="set_data(this, <?php echo $value->id ?>)">
                                            <?php foreach ($categorias as $cat_key => $cat_value): ?>
                                                <option <?php echo ($value->categoria == $cat_value->categoria)?'selected':''; ?>><?php echo $cat_value->categoria; ?></option>
                                            <?php endforeach ?>
                                            <option>----</option>
                                            <option value="nova">Nova</option>
                                        </select>
                                        <div class="data-hide"><?php echo $value->categoria; ?></div>
                                    </td>
                                    <td>
                                        <input class="input-table" type="text" onchange="set_data(this, <?php echo $value->id ?>)" id="descricao-<?php echo $value->id ?>" name="descricao" value="<?php echo $value->descricao ?>">
                                        <div class="data-hide"><?php echo $value->descricao; ?></div>
                                    </td>
                                    <td>
                                        <div class="pe-7s-trash icon-table center" onclick="delete_data(<?php echo $value->id ?>);" data-toggle="modal" data-target="#deleteModal">
                                        </div>
                                    </td>
                                </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                            
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="/lemenu/cardapio-delete-item">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Tem certeza que deseja deletar este item de cardápio?</h4>
                                                </div>
                                            <div class="modal-body" id="modal-body-view">
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_url" class="btn btn-red btn-fill">Sim</button>
                                                <a href="#" class="btn btn-red btn-fill" data-dismiss="modal">Não</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="editImgModal" tabindex="-1" role="dialog" aria-labelledby="myModalImgView" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalImgView">Alterar imagem</h4>
                                            <h4 id="loading_edit">loading..</h4>
                                            <div id="message_edit"></div>
                                        </div>
                                        <div class="modal-body">
                                            <form id="uploadimage_edit" action="" method="post" enctype="multipart/form-data">
                                                <div id="image_preview_edit">
                                                    <img id="previewing_edit" src="<?php echo URL_BASE; ?>app/assets/img/no-image.fw.png" class="img-responsive" />
                                                </div>
                                                <input type="hidden" id="image" value="">
                                                <input type="hidden" id="id_image" value="">
                                                <hr id="line">
                                                
                                                <div id="selectImage_edit">
                                                    <label>Selecione uma imagem</label><br/>
                                                    <label class="btn btn-red btn-fill btn-file">
                                                        Carregar imagem<input type="file" name="file" id="file_edit" required />
                                                    </label>
                                                    <input type="submit" value="Upload" class="submit btn btn-red btn-fill" />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-red btn-fill" data-dismiss="modal">Fechar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </div>
</div>