<div class="content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Clientes</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/novo-cliente" class="form_cliente">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" required class="form-control" name="nome">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Telefone</label>
                                        <input type="text" required class="form-control" name="telefone">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text" required class="form-control" name="email">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select name="status" class="form-control selectpicker" id="status">
                                            <option value="">Selecione</option>
                                            <option value="Potencial Cliente">Potencial Cliente</option>
                                            <option value="Aceitou">Aceitou</option>
                                            <option value="Está ativo">Está ativo</option>
                                            <option value="Recusou">Recusou</option>
                                            <option value="Não serve">Não serve</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Site</label>
                                        <input type="text" required class="form-control" name="site">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Plano</label>
                                        <select name="plano" name="plano" class="form-control selectpicker" id="plano">
                                            <option value="">Grátis</option>
                                            <option value="1">Plano 1</option>
                                            <option value="2">Plano 2</option>
                                            <option value="3">Plano 3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Informações adicionais</label>
                                        <textarea id="descricao" class="form-control" name="descricao"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="novo_item" class="btn btn-red btn-fill">Adicionar novo</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card card-user">
                    <div class="content">
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped table-no-bordered table-hover dataTable dtr-inline" id="datatables">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome</th>
                                        <th>Telefone</th>
                                        <th>Email</th>
                                        <th>Editar</th>
                                        <th>Excluir</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                <?php foreach ($clientes as $key => $value): ?>
                                <tr>
                                    <td>
                                        <input class="id" type="text" readonly name="id" value="<?php echo $value->id ?>">
                                        <div class="data-hide"><?php echo $value->id ?></div>
                                    </td>
                                    <td>
                                        <input class="input-table" type="text" onchange="set_data_cliente(this, <?php echo $value->id ?>)" id="nome-<?php echo $value->id ?>" name="nome" value="<?php echo $value->nome ?>">
                                        <div class="data-hide" id="nome_label"><?php echo $value->nome; ?></div>
                                    </td>
                                    <td>
                                        <input class="input-table" type="text" onchange="set_data_cliente(this, <?php echo $value->id ?>)" id="telefone-<?php echo $value->id ?>" name="telefone" value="<?php echo $value->telefone ?>">
                                        <div class="data-hide" id="telefone_label"><?php echo $value->telefone; ?></div>
                                    </td>
                                    <td>
                                        <input class="input-table" type="text" onchange="set_data_cliente(this, <?php echo $value->id ?>)" id="email-<?php echo $value->id ?>" name="email" value="<?php echo $value->email ?>">
                                        <div class="data-hide" id="email_label"><?php echo $value->email; ?></div>
                                    </td>
                                    <td>
                                        <div class="pe-7s-pen icon-table center" onclick="edit_data(<?php echo $value->id ?>);" data-toggle="modal" data-target="#editModal">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="pe-7s-trash icon-table center" onclick="delete_cliente(<?php echo $value->id ?>);" data-toggle="modal" data-target="#deleteModal">
                                        </div>
                                    </td>
                                </tr>
                                <?php endforeach ?>
                                </tbody>
                            </table>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <form method="post" action="/lemenu/deletar-cliente">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">Tem certeza que deseja deletar este cliente?</h4>
                                                </div>
                                            <div class="modal-body" id="modal-body-view">
                                                
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="delete_url" class="btn btn-red btn-fill">Sim</button>
                                                <a href="#" class="btn btn-red btn-fill" data-dismiss="modal">Não</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Dados do cliente</h4>
                                            </div>
                                            <div class="modal-body" id="modal-body-view">
                                                <div class="alert alert-success display-msg">
                                                  <strong>Sucesso!</strong> Dados alterados.
                                                </div>
                                                
                                                <div class="row">
                                                    <input  type="hidden" name="id" id="modal_id">
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Nome</label>
                                                            <input class="form-control" type="text" id="modal_nome" name="nome">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Telefone</label>
                                                            <input class="form-control" type="text" id="modal_telefone" name="telefone">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Email</label>
                                                            <input class="form-control" type="text" id="modal_email" name="email">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Status</label>                                           
                                                            <select class="form-control" id="modal_status" name="status">
                                                                <option value="">Selecione</option>
                                                                <option value="Potencial Cliente">Potencial Cliente</option>
                                                                <option value="Aceitou">Aceitou</option>
                                                                <option value="Está ativo">Está ativo</option>
                                                                <option value="Recusou">Recusou</option>
                                                                <option value="Não serve">Não serve</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Site</label>
                                                            <input class="form-control" type="text" id="modal_site" name="site">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Plano</label>
                                                            <select class="form-control" id="modal_plano" name="plano">
                                                                <option value="">Grátis</option>
                                                                <option value="1">Plano 1</option>
                                                                <option value="2">Plano 2</option>
                                                                <option value="3">Plano 3</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Informações adicionais</label>
                                                            <textarea class="form-control" id="modal_descricao" name="descricao"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#" id="submit_update" class="btn btn-red btn-fill">Atualizar</a>
                                                <a href="#" class="btn btn-red btn-fill" data-dismiss="modal">Fechar</a>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </div>
</div>