<html>
	<head>
		<title><?php echo $this->meta_title; ?></title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="<?php echo $this->meta_description; ?>" />
		<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />

		<link rel="shortcut icon" href="<?php echo URL_BASE ?>app/assets/img/logo-short-icon.fw.png" >

	    <!--BOOTSTRAP MAIN STYLES -->
	    <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap-dashboard.min.css" rel="stylesheet" />
	   	<!--light-bootstrap-dashboard -->
		<link href="<?php echo URL_BASE; ?>app/assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />
	    
	    <link href="<?php echo URL_BASE; ?>app/assets/css/style-dashboard.css" rel="stylesheet" />
	    <!--CUSTOM STYLE -->
	    <?php if ($this->get_page() == 'login'): ?>
	    	<link href="<?php echo URL_BASE; ?>app/assets/css/style.css" rel="stylesheet" />
	    <?php else: ?>
		    <!--     Fonts and icons     -->
		    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
	    	<link href="<?php echo URL_BASE; ?>app/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
	    <?php endif ?>
	    
	    <?php 
	    $use_ckEditor_in = ['servicos-cardapio', 'quadro-de-avisos', 'quadro-de-avisos-atualizado'];
	    $use_google_maps = ['localizacao', 'usuario-atualizado'];
	    
	    if ($this->get_page() == 'painel' and (in_array($_GET['url'], $use_ckEditor_in))): ?>
			<script src="<?php echo URL_BASE; ?>app/assets/js/ckeditor/ckeditor.js"></script>
	    <?php endif ?>

		<?php if ((in_array($_GET['url'], $use_google_maps))): ?>
			<link href="<?php echo URL_BASE; ?>app/assets/css/mapa.css" rel="stylesheet" />
	    <?php endif ?>

	</head>

	<body>
		
		<?php if ($this->get_page() == 'painel'): ?>
			<div class="wrapper">
			<?php require_once 'partials/sidebar.phtml'; ?>
		   	<div class="main-panel">
		   	<?php require_once 'partials/navbar.phtml'; ?>
	    <?php endif ?>

		<?php require_once $this->painel->content(); ?>
		
		<?php if ($this->get_page() == 'painel'): ?>
			<?php require_once 'partials/footer.phtml'; ?>
			</div>
			</div>
	    <?php endif ?>
		
	    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
	    <!--CkEditor -->
	    <?php if ($this->get_page() == 'painel' and (in_array($_GET['url'], $use_ckEditor_in))): ?>
		<script>
            CKEDITOR.replace( 'editor1', {
                height: 440
            } );
        </script>
	    <?php endif ?>
	    <!-- CORE JQUERY LIBRARY -->
	    <!-- <script src="<?php echo URL_BASE; ?>app/assets/js/jquery-dashboard.js"></script> -->

	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.js"></script>
	    <!-- <script src="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/assets/js/jquery.min.js"></script> -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery-ui.min.js"></script>
	    <!-- <script src="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/assets/js/bootstrap.min.js"></script> -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap-selectpicker.js"></script>

		<!-- <script src="http://demos.creative-tim.com/light-bootstrap-dashboard-pro/assets/js/sweetalert2.js"></script> -->
	    <!-- Datatables -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap-table.js"></script>
	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.datatables.js"></script>

	    <!-- BOOTSTRAP SELECT -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap-dashboard.js"></script>
		<!--  Charts Plugin -->
		<script src="<?php echo URL_BASE; ?>app/assets/js/chartist.min.js"></script>
	    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
		<script src="<?php echo URL_BASE; ?>app/assets/js/light-bootstrap-dashboard.js"></script>
		<!-- Jquery Mask-->
	    <script src="<?php echo URL_BASE ?>app/assets/js/jquery.mask.js"></script>
	    <!-- Validator-->
	    <script src="<?php echo URL_BASE ?>app/assets/js/validator.js"></script>

	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.maskMoney.js"></script>
	    <!-- Index js -->
	    <script src="<?php echo URL_BASE ?>app/assets/js/index.js"></script>

		<?php if ((in_array($_GET['url'], $use_google_maps))): ?>
		<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA-n86zYAHwv4_6jCXf70FRnlRR18kzIEE&amp;sensor=false"></script>
	    <script src="<?php echo URL_BASE; ?>app/assets/js/infobox.js"></script>
	    <script src="<?php echo URL_BASE; ?>app/assets/js/mapa.js"></script>
	    <?php endif ?>

	    <script type="text/javascript">
	    	$(function(){
				$("#moeda_real").maskMoney({symbol:'R$ ', 
			    	showSymbol:true, thousands:'.', decimal:',', symbolStay: true});
			});

		    $(document).ready(function() {
				$('#datatables').DataTable({
				    "pagingType": "full_numbers",
				    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
				    responsive: true,
				    language: {
				    search: "_INPUT_",
				    searchPlaceholder: "Search records",
				    "paginate": {
				    	"first": "Primeira",
					    "last": "Última",
					    "next": "Próxima ",
					    "previous": "Anterior",
					    "emptyTable": "Nada encontrado",
					    "info": "Exibindo página _PAGE_ de _PAGES_",
					    "infoEmpty": "Tabela vazia",
					    "infoFiltered": " - filtrando _MAX_ dados",
					    "infoPostFix": "All records shown are derived from real information.",
					    "lengthMenu": "Exibindo _MENU_ dados",
					    "loadingRecords": "Aguarde um instante - Carregando...",
					    "processing": "DataTables is currently busy",
					    "search": "Buscarndo:",
						"search": "Aplicar filtro _INPUT_ a tabela",
						"zeroRecords": "Nenhum dado para ser exibido",
						"search": {"search": "Busca inicial"}
						}
				    }

				});

				var table = $('#datatables').DataTable();

			});

	    </script>
	</body>
</html>