<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <?php echo $this->alert->msg($_QUERY); ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Localização</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/endereco-update" data-toggle="validator" role="form">
                            <input type="hidden" name="id" value="<?php echo $endereco[0]->id; ?>">
                            <input type="hidden" name="id_estabelecimento" value="<?php echo $endereco[0]->id_estabelecimento; ?>">
                            <div class="form-group">
                                <label for="inputlg" class="label">País</label>
                                <select class="selectpicker form-control" name="pais" required id="pais" data-size="8" data-live-search="true"> 
                                    <?php foreach ($paises as $key => $value): ?>
                                        <option value="<?php echo $value->id ?>"><?php echo $value->nome ?> - <?php echo $value->sigla ?></option>
                                    <?php endforeach ?>
                                </select>
                                <span class="help-block with-errors"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Estado</label>
                                <select class="selectpicker form-control" name="estado" required id="estado" data-size="8" data-live-search="true"> 
                                    <option value="">Selecione</option>
                                    <?php foreach ($estados as $key => $value): ?>
                                            <option <?php echo ($endereco[0]->estado == $value->id)?'selected':''; ?> value="<?php echo $value->id ?>"><?php echo $value->nome ?> - <?php echo $value->uf ?></option>
                                    <?php endforeach ?>
                                </select>
                                <span class="help-block with-errors"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Cidade</label>
                                <select class="selectpicker form-control" name="cidade" required id="cidade" data-size="8" data-live-search="true">
                                    <option value="">Selecione</option>
                                    <?php foreach ($cidades as $key => $value): ?>
                                            <option <?php echo ($endereco[0]->cidade == $value->id)?'selected':''; ?> value="<?php echo $value->id ?>"><?php echo $value->nome ?></option>
                                    <?php endforeach ?>
                                </select>
                                <span class="help-block with-errors"></span>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Número</label>
                                <input class="form-control" name="numero" required id="numero" placeholder="Exemplo: 193" type="text" value="<?php echo $endereco[0]->numero; ?>">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Complemento</label>
                                <input class="form-control" name="complemento" required id="complemento" placeholder="Exemplo: casa, ap.107, Conj. 12" type="text" value="<?php echo $endereco[0]->complemento; ?>">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Bairro</label>
                                <input class="form-control" name="bairro" required id="bairro" placeholder="Exemplo: centro, área norte" type="text" value="<?php echo $endereco[0]->bairro; ?>">
                                <div class="help-block with-errors"></div>
                            </div>
                             <div class="form-group">
                                <label for="inputlg" class="label">Logradouro</label>
                                <input class="form-control" name="logradouro" required id="logradouro" placeholder="Exemplo: rua dos andrades, jardin peixoto e etc" type="text" value="<?php echo $endereco[0]->logradouro; ?>">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputlg" class="label">Cep</label>
                                <input class="form-control" data-mask="00-000-000" name="cep" required id="cep" placeholder="Exemplo: 18-991-056" type="text" value="<?php echo $endereco[0]->cep; ?>">
                                <div class="help-block with-errors"></div>
                            </div>
                        
                            <div class="form-group">
                                <input type="submit" value="Atualizar" class="btn btn-fill btn-default btn-red">

                                <a href="#" class="btn btn-fill btn-default btn-red" data-toggle="modal" data-target="#mapModal">Visualizar Mapa <span class="pe-7s-map-marker"></span></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalMap" style="display: none;">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalMap">Você está aqui</h4>
                            </div>
                        <div class="modal-body" id="modal-body-view">
                            <p>Novos clientes podem te encontrar ao te observarem no mapa. Se eles estiverem a procura de algum estabelecimento como o seu, já terão informações prévias sobre o que podem encontrar lá. Dê um clique no seu ícone e observe suas próprias informações.</p>
                            <p>Entenda mais como isso funciona clicando aqui: <a href="#" class="link-red">Encontrando o seu Estabelecimento no Google Maps</a></p>
                            <div id="mapa"></div>

                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-red btn-fill" data-dismiss="modal">Fechar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>