
<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo URL_BASE; ?>#slide-head">
                <img class="title" src="<?php echo URL_BASE; ?>app/assets/img/logo.fw.png">
            </a>
        </div>
        <div class="collapse navbar-collapse">       
            <ul class="nav navbar-nav navbar-right">
                <li>
                   <a href="<?php echo URL_BASE; ?>abrir-conta" class="link-active">
                        Criar uma conta
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="red" data-image="lemenu/app/assets/img/full-screen-image-1.jpg">   
        <div class="content">
            <div class="container">
                <div class="row">                   
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3" data-scrollreveal="enter top and move 100px, wait 0.3s">
                        <form method="post" action="<?php echo URL_BASE ?>logar">
                            <div class="card">
                                <div class="header text-center">Login</div>
                                <div class="content">
                                    <?php if ($params == 'erro'): ?>
                                        <div class="alert alert-danger">
                                          <strong>Erro!</strong> Email ou senha inválida.
                                        </div>
                                    <?php endif ?>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" placeholder="Informe o seu email" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>Senha</label>
                                        <input type="password" name="senha" placeholder="Informe a sua senha" class="form-control">
                                    </div>                                    
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" class="btn btn-danger btn-lg">Login</button>
                                </div>
                            </div>
                        </form>   
                    </div>                
                </div>                
            </div>                
        </div>

        <footer class="footer footer-transparent">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="<?php echo URL_BASE; ?>">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="<?php echo URL_BASE; ?>lemenu/#sobre-section">
                                Sobre
                            </a>
                        </li>
                        <li>
                             <a href="<?php echo URL_BASE; ?>lemenu/#portifolio-section">
                                Portfolio
                            </a>
                        </li>
                        <li>
                             <a href="<?php echo URL_BASE; ?>lemenu/#pricing-section">
                               Preço
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    © <?php echo date("Y") ?>  Lemenu.com.br | All Rights Reserved
                </p>
            </div>
        </footer>
    </div>
</div>