<div class="content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Notificações</h4>
                    </div>
                    <div class="content">
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>