<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <?php echo $this->alert->msg($_QUERY); ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Quadro de avisos</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/estabelecimento-atualizar">  
                        <input type="hidden" name="id"  value="<?php echo $estabelecimentos[0]->id; ?>"> 
                        <textarea id="editor1" name="descricao" class="form-control"><?php echo $estabelecimentos[0]->descricao; ?></textarea>
                        <br>
                        <button type="submit" class="btn btn-red btn-fill pull-right">Atualizar dados</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>