

<div class="content">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cadastro de cardápios</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/estabelecimento-atualizar">  
                        <input type="hidden" name="id"  value="<?php echo isset($servico->id)?$servico->id:''; ?>"> 
                        <textarea id="editor1" name="descricao" class="form-control"><?php echo isset($servico->descricao)?$servico->descricao:''; ?></textarea>
                        <br>
                        <button type="submit" class="btn btn-red btn-fill pull-right">Atualizar dados</button>
                        </form>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
