<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <?php echo $this->alert->msg($_QUERY); ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Estabelecimento</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/estabelecimento-atualizar">
                            <input type="hidden" name="id" id="id"  value="<?php echo $estabelecimentos[0]->id; ?>">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input type="text" class="form-control" name="nome" placeholder="Nome" value="<?php echo $estabelecimentos[0]->nome; ?>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Formas de pagamento</label>
                                        <select class="form-control selectpicker" name="formas_pagamento[]" id="formas_pagamento" data-size="8" multiple data-title="Formas de pagamento" data-live-search="true" tabindex="-98"> 
                                        <?php foreach ($bandeiras as $key => $value): 
                                            $selected = '';
                                            $bandeiras_ids = explode(',',$estabelecimentos[0]->formas_pagamento);
                                            foreach ($bandeiras_ids as $key_ids => $value_ids): 
                                                if ($value->id == $value_ids) {
                                                    $selected = 'selected';
                                                }
                                            endforeach; 
                                        ?>
                                            <option value="<?php echo $value->id; ?>" <?php echo $selected ?> data-content="<?php echo $value->nome; ?> <img src='<?php echo URL_BASE.'app/assets/img/bandeiras/'.$value->img; ?>'' class='bandeira'>">    
                                            </option>
                                        <?php endforeach ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Funcionamento</label>
                                        <a href="#" data-toggle="modal" data-target="#funcionamento" class="form-control btn btn-red btn-fill" id="add_image">Horário de Funcionamento <span class="pe-7s-clock icon-clock"></Sspan></a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Categoria</label>
                                        <select class="form-control selectpicker" name="categoria[]" id="categoria" data-size="8" multiple data-title="Categorias" data-live-search="true" tabindex="-98"> 
                                        <?php foreach ($categorias as $key => $value): 
                                            $selected = '';
                                            $categoria_ids = explode(',',$estabelecimentos[0]->categoria);
                                            foreach ($categoria_ids as $key_ids => $value_ids): 
                                                if ($value->id == $value_ids) {
                                                    $selected = 'selected';
                                                }
                                            endforeach; 
                                        ?>
                                            <option value="<?php echo $value->id; ?>" <?php echo $selected ?>><?php echo $value->nome; ?></option>
                                        <?php endforeach ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Url Lemenu</label>
                                        <input type="text" class="form-control" name="url_lemenu" id="url_lemenu" placeholder="URL" value="<?php echo $estabelecimentos[0]->url_lemenu; ?>">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data de cadastro</label>
                                        <input type="text" disabled class="form-control" placeholder="Data de cadastro" value="<?php echo date('d/m/Y - H:i:s', strtotime($estabelecimentos[0]->created_at)); ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>URL Facebook</label>
                                        <input type="text" class="form-control" name="url_facebook" placeholder="Facebook" value="<?php echo $estabelecimentos[0]->url_facebook; ?>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>URL Twitter</label>
                                        <input type="text" class="form-control" name="url_twitter" placeholder="Twitter" value="<?php echo $estabelecimentos[0]->url_twitter; ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>URL Google+</label>
                                        <input type="text" class="form-control" name="url_google_mais" placeholder="Google+" value="<?php echo $estabelecimentos[0]->url_google_mais; ?>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>URL Instagran</label>
                                        <input type="text" class="form-control" name="url_instagran" placeholder="Instagran" value="<?php echo $estabelecimentos[0]->url_instagran; ?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>URL Youtube</label>
                                        <input type="text" class="form-control" name="url_youtube" placeholder="Youtube" value="<?php echo $estabelecimentos[0]->url_youtube; ?>">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" id="update_estabelecimento" class="btn btn-red btn-fill pull-right">Atualizar dados</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="funcionamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="card">
                        <div class="modal-content">
                            <form method="post" id="update-horario-funcionamento">
                                <input type="hidden" name="id" id="id"  value="<?php echo $estabelecimentos[0]->id; ?>">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Quais dias e horários seu estabelecimento funciona?</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row" id="alert">
                                        <div class="col-md-12">
                                            <div class="alert alert-success">
                                                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                                                <span><b> Sucesso - </b> Dados alterados</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Configurar hora para:</label>
                                                <select class="form-control selectpicker" id="select-horario-funcionamento" name="dias_config">
                                                    <option value="1">Todos os dias da semana</option>
                                                    <option value="2">De Segunda à Sexta</option>
                                                    <option selected="true" value="3">Escolher os dias</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Abre as</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">Hora</span>
                                                    <input type="text" class="form-control" id="aberto" name="aberto" data-mask="00:00"">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Fecha as</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">Hora</span>
                                                    <input type="text" class="form-control" id="fechado" name="fechado" data-mask="00:00"">    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="form-horario-funcionamento">
                                    <?php foreach ($dias as $key => $value): ?>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Selecionado:</label>
                                                    <select class="form-control selectpicker" id="selecionado-<?php echo $key; ?>" name="dias[<?php echo $key; ?>][selecionado]">
                                                        <option value="1" <?php echo ($value['selecionado'] == '1')?'selected':''; ?>>Sim</option>
                                                        <option value="0" <?php echo ($value['selecionado'] == '0')?'selected':''; ?>>Não</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label><?php echo $value['dia']; ?>:</label>
                                                    <input type="text" class="form-control" id="dia-<?php echo $key; ?>" name="dias[<?php echo $key; ?>][dia]" value="<?php echo $value['dia']; ?>">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Abre às</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Hora</span>
                                                        <input type="text" class="form-control" id="aberto-<?php echo $key; ?>" name="dias[<?php echo $key; ?>][aberto]" value="<?php echo $value['aberto']; ?>" data-mask="00:00"">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label>Fecha às</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Hora</span>
                                                        <input type="text" class="form-control" id="fechado-<?php echo $key; ?>" name="dias[<?php echo $key; ?>][fechado]" value="<?php echo $value['fechado']; ?>" data-mask="00:00"">    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
                                    <?php endforeach ?>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-red btn-fill">Salvar</button>
                                    <a href="#" class="btn btn-red btn-fill" data-dismiss="modal">Fechar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

