<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <?php echo $this->alert->msg($_QUERY); ?>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Seus dados</h4>
                    </div>
                    <div class="content">
                        <form method="post" action="/lemenu/usuario-atualizar">
                            <input type="hidden" name="id"  value="<?php echo $_SESSION['id']; ?>">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nome completo</label>
                                        <input type="text" class="form-control" name="nome" placeholder="Nome" value="<?php echo $_SESSION['nome'] ?>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" name="email" placeholder="Email" value="<?php echo $_SESSION['email'] ?>">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Telefone</label>
                                        <input type="text" class="form-control" name="telefone" data-mask="(00)00000-0000" placeholder="Telefone" value="<?php echo $_SESSION['telefone'] ?>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Data de cadastro</label>
                                        <input type="text" disabled class="form-control" placeholder="Last Name" value="<?php echo date('d/m/Y - H:i:s', strtotime($_SESSION['data_cadastro'])); ?>">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-red btn-fill pull-right">Atualizar dados</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>