<section id="slide-head" >
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1><?php echo $avisos['titulo']; ?></h1>
                </div>
                <p class="lead"><?php echo $avisos['desc']; ?></p>
            </div>
        </div>
    </div>
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
            	<form method="post" action="enderecos/create" data-toggle="validator" role="form">
            		<input type="hidden" name="id_estabelecimento" value="<?php echo $_SESSION['id_estabelecimento']; ?>">
					<div class="form-group">
						<label for="inputlg" class="label">País</label>
						<select class="selectpicker form-control" name="pais" required id="pais" data-size="8" data-live-search="true"> 
							<?php foreach ($paises as $key => $value): ?>
								<option value="<?php echo $value->id ?>"><?php echo $value->nome ?> - <?php echo $value->sigla ?></option>
							<?php endforeach ?>
						</select>
						<span class="help-block with-errors"></span>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Estado</label>
						<select class="selectpicker form-control" name="estado" required id="estado" data-size="8" data-live-search="true"> 
							<option value="">Selecione</option>
							<?php foreach ($estados as $key => $value): ?>
									<option value="<?php echo $value->id ?>"><?php echo $value->nome ?> - <?php echo $value->uf ?></option>
							<?php endforeach ?>
						</select>
						<span class="help-block with-errors"></span>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Cidade</label>
						<select class="selectpicker form-control" name="cidade" required id="cidade" data-size="8" data-live-search="true">
							<option value="">Selecione</option>
						</select>
						<span class="help-block with-errors"></span>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Número</label>
						<input class="form-control input-lg" name="numero" required id="numero" placeholder="Exemplo: 193" type="text">
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Bairro</label>
						<input class="form-control input-lg" name="bairro" required id="bairro" placeholder="Exemplo: centro, área norte" type="text">
						<div class="help-block with-errors"></div>
					</div>

					<div class="form-group">
						<label for="inputlg" class="label">Cep</label>
						<input class="form-control input-lg" data-mask="00-000-000" name="cep" required id="cep" placeholder="Exemplo: 18-991-056" type="text">
						<div class="help-block with-errors"></div>
					</div>
				
					<div class="form-group">
						<input type="submit" value="Avançar" class="btn btn-default btn-lg">
					</div>
            	</form>
            </div>
        </div>
    </div>
</section>

<!-- https://www.youtube.com/watch?v=hEF97Ui6NRk -->
<!-- http://www.free-css.com/template-categories/bootstrap?start=156 -->