<section id="slide-head" >
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1><?php echo $avisos['titulo']; ?></h1>
                </div>
                <p class="lead"><?php echo $avisos['desc']; ?></p>
            </div>
        </div>
    </div>
    <div class="wrap-pad">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 " data-scrollreveal="enter top and move 100px, wait 0.5s">
            	<form method="post" action="estabelecimentos/create" data-toggle="validator" role="form">
            		<input type="hidden" name="id_usuario" value="<?php echo $_SESSION['id']; ?>">
					<div class="form-group">
						<label for="inputlg" class="label">Insira o nome do seu estabelecimento</label>
						<input class="form-control input-lg" name="nome" id="nome" autofocus="true" placeholder="Exemplo: Pizzaria da Alda" type="text" required>
						<div class="help-block with-errors"></div>
					</div>
					<div class="form-group">
						<label for="inputlg" class="label">Qual a categoria do seu estabelecimento</label>
						<select class="selectpicker form-control" name="categoria[]" id="categoria" data-size="8" data-title="Categorias" data-live-search="true" multiple data-actions-box="true"> 
							<?php foreach ($categorias as $key => $value): ?>
								<option value="<?php echo $value->id ?>"><?php echo $value->nome; ?></option>
							<?php endforeach ?>
						</select>
						<span class="help-block with-errors"></span>
					</div>
					<br>
					<div class="form-group">
						<label for="comment" class="label">Quadro de avisos</label>
						<textarea class="form-control" rows="5" id="descricao" name="descricao" placeholder="O quadro de avsisos serve para você deixar uma mensagem importante para seus clientes. Exemplo: Aviso de uma promoção, novidades no seu estabelecimento e entre outras coisas. Este campo não é de preenchimento obrigatório."></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Avançar" class="btn btn-default btn-lg">
					</div>
            	</form>
            </div>
        </div>
    </div>
</section>

<!-- https://www.youtube.com/watch?v=hEF97Ui6NRk -->
<!-- http://www.free-css.com/template-categories/bootstrap?start=156 -->