<html>
<head>
	<title><?php echo $this->meta_title; ?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="<?php echo $this->meta_description; ?>" />
	<meta name="keywords" content="<?php echo $this->meta_keywords; ?>" />

	<link rel="shortcut icon" href="<?php echo URL_BASE; ?>app/assets/img/logo-short-icon.fw.png" >
    <!--GOOGLE FONT -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'> -->
    <!--BOOTSTRAP MAIN STYLES -->
    <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--FONTAWESOME MAIN STYLE -->
    <link href="<?php echo URL_BASE; ?>app/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--PRETTYPHOTO MAIN STYLE -->
    <link href="<?php echo URL_BASE; ?>app/assets/css/prettyPhoto.css" rel="stylesheet" />
    <!--CUSTOM STYLE -->
    <link href="<?php echo URL_BASE; ?>app/assets/css/style.css" rel="stylesheet" />
    <!--BOOTSTRAP SELECT -->
    <link href="<?php echo URL_BASE; ?>app/assets/css/bootstrap-select.min.css" rel="stylesheet" />
</head>
	<body>
		<!--NAV SECTION -->
	    <header id="header-nav" role="banner">
	        <div id="navbar" class="navbar navbar-default">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="<?php echo URL_BASE; ?>#slide-head"><img class="title" src="<?php echo URL_BASE; ?>app/assets/img/logo.fw.png"></a>
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav flot-nav">
	                    <li class="scroll"><a href="#slide-head">Home</a></li>
	                    <li class="scroll"><a href="#sobre-section">Sobre</a></li>
	                    <li class="scroll"><a href="#portfolio-section">Portfolio</a></li>
	                    <li class="scroll"><a href="#pricing-section">Preço</a></li>
	                    <li class="scroll"><a href="#contact-section">Contato</a></li>
	                    <li><a href="<?php echo URL_BASE; ?>login">Login</a></li>
	                </ul>
	            </div>
	        </div>
	    </header>
		
		<?php require_once $this->content(); ?>
		
		<!--FOOTER SECTION -->
	    <footer id="footer">
	        <div class="row">
	            <div class="col-md-12  col-sm-12">
	                &copy; <?php echo date("Y"); ?> lemenu.com.br  |  All Rights Reserved
	               
	            </div>
	        </div>
	    </footer>
	    <!--END FOOTER SECTION -->
	    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
	    <!-- CORE JQUERY LIBRARY -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.js"></script>
	    <!-- BOOTSTRAP SELECT -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap-select.min.js"></script>
	    <!-- BOOTSTRAP SCRIPTS LIBRARY -->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/bootstrap.min.js"></script>
	    <!-- PRETTYPHOTO  SCRIPTS  LIBRARY-->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/jquery.prettyPhoto.js"></script>
	     <!-- SCROLL REVEL  SCRIPTS  LIBRARY-->
	    <script src="<?php echo URL_BASE; ?>app/assets/js/scrollReveal.js"></script>
	    <!-- CUSTOM SCRIPT-->
	    <script src="<?php echo URL_BASE; ?>app/assets/scripts/custom.js"></script>
	    <!-- Validator-->
	    <script src="<?php echo URL_BASE ?>app/assets/js/validator.js"></script>
	    <!-- Jquery Mask-->
	    <script src="<?php echo URL_BASE ?>app/assets/js/jquery.mask.js"></script>
	    <!-- Index-->
	    <script src="<?php echo URL_BASE ?>app/assets/js/index.js"></script>
	</body>
</html>